body{
    background-color: rgb(14, 17, 17) ;
    color: white;
}
h1{
    color: blueviolet;
    text-align: center;
}
h2{
    color:green;
    font-style: italic;
    text-align: center;
}
p{
    font-family: sans-serif;

}
ol{
    line-height: 40px;
}
div{
    border: solid 2px white;
    margin-top: 20px;
    border-radius: 20px;
    padding: 50px;
    
}